<?xml version="1.0"?>
<!--
/**
 * Aceextensions Extensions
 *
 * @category   Aceextensions
 * @package    Aceextensions_B2bRegistration
 * @author     Durga Shankar Gupta (dsguptas@gmail.com)
 * @copyright  Copyright (c) 2019 Aceextensions Extensions ( http://aceextensions.com )
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Aceextensions_B2bRegistration::config_b2bregistration" title="Aceextensions Extensions"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Customer::customer">
                    <resource id="Magento_Customer::manage">
                        <resource id="Aceextensions_B2bRegistration::b2bregistration" title="B2bRegistration" sortOrder="100">
                            <resource id="Aceextensions_B2bRegistration::b2bregistration_approval" title="Aceextensions Extensions"/>
                            <resource id="Aceextensions_B2bRegistration::b2bregistration_reject" title="Aceextensions Extensions"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>