<?xml version="1.0"?>
<!--
/**
 * Ace Extensions
 *
 * @category   Ace
 * @package    Ace_B2bRegistration
 * @author     Durga Shankar Gupta (dsguptas@gmail.com)
 * @copyright  Copyright (c) 2019 Ace Extensions ( http://aceextensions.com )
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ace_B2bRegistration" setup_version="1.0.9">
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Ace_ForceLogin"/>
        </sequence>
    </module>
</config>